python-vagrant==0.5.14
pylint==1.6.4
# Broken, upgrade once bug fixed.
#pylint==1.6.5
# Buildbot versions are frozen due to backwards incompatible changes introduced in 0.9
buildbot==0.8.12
buildbot-slave==0.8.12
jira==1.0.10
django-webtest==1.8.0
mocker==1.1.1
factory-boy==2.8.1
Faker==0.7.7
#selenium==2.48.0
#selenium==2.53.6
selenium==3.0.2
