# DO NOT MANUALLY INSTALL PACKAGES USING THIS FILE.
# AFTER MODIFYING THIS FILE, RUN: fab edge.update_requirements; ./init_virtualenv.sh

# Any dependencies needed by Fabric or the sysadmin tool.
Fabric==2.6.0
burlap==0.9.41
#-e git://github.com/chrisspen/burlap.git#egg=burlap

# Needed by DNS satchel.
-e git://github.com/Edge-On-Demand/zone-file-py.git@716a7f189dc8e1611afdb93c6b21588d2aab579a#egg=zone-file-py
GoDaddyPy==2.2.5

# Needed by Edge satchel.
httplib2==0.10.3
s3cmd==2.0.1

# Needed by edge satchel devops.
gspread==0.2.5

# Needed by oauth2client.
pyOpenSSL==18.0.0

# Fix security hole in cryptography < 2.3 (required by pyOpenSSL >= 18.1.0; remove this line when 18.1.0 released)
cryptography==2.3.1
