# DO NOT MANUALLY INSTALL PACKAGES USING THIS FILE.
# AFTER MODIFYING THIS FILE, RUN: fab edge.update_requirements; ./init_virtualenv.sh

# Any dependencies needed by Fabric or the sysadmin tool.
Fabric==1.14.0
burlap==0.9.36
#-e git://github.com/chrisspen/burlap.git#egg=burlap

# Needed by DNS satchel.
blockstack-zones==0.14.1
GoDaddyPy==2.2.5

# Needed by Edge satchel.
httplib2==0.10.3

# Needed by edge satchel devops.
gspread==0.2.5
